<div class="wrapper">
	<div class="header">
		<h1>CONTACTS</h1>
	</div>
	
	<div class="main container-fluid">
		<div ng-repeat="contact in contacts | orderBy: sortType" class="contact">
			<div class="info col-xs-8" ng-click="showData()">
				<h2 class="name">{{ contact.fname + " " + contact.lname }}</h2>
				<h3>{{ contact.relationship }}</h3>
			</div>
			
			<div class="icons col-xs-4"">
				<ul>
					<li><img class="phone-icon" src="{{phoneIcon}}" ng-click="phoneInfo = !phoneInfo; swapIcon(phoneIcon)"></li>
					<li><img class="address-icon" src="{{ addressIcon }}" ng-click="addressInfo = !addressInfo; swapIcon(addressIcon)"></li>
					<li><img class="email-icon" src="{{ emailIcon }}" ng-click="emailInfo = !emailInfo; swapIcon(emailIcon)"></li>
				</ul>
			</div>
			
			<div class="details container col-xs-12 pull-left">
				<div class="phone-details" ng-class="{show: phoneInfo, hide: !phoneInfo}">
					<ul>
						<li>
							<span>HOME</span> <a href="tel:{{ contact.hphone }}"> {{ contact.hphone.substring(2) }} </a>
						</li>
						<li>
							<span>MOBILE</span> <a href="tel:{{ contact.mphone }}"> {{ contact.mphone.substring(2) }} </a>
						</li>
						<li>
							<span>WORK</span> <a href="tel:{{ contact.wphone }}"> {{ contact.wphone.substring(2) }} </a>
						</li>
					</ul>
				</div>
				
				<div class="address-details" ng-class="{show: addressInfo, hide: !addressInfo}">
					<h5>HOME ADDRESS</h5>
					<a href="http://maps.google.com/?q={{ contact.street + ' ' + contact.city + ',' + contact.state + ' ' + contact.postalCode }}">
						<h4>{{ contact.street }}</h4>
						<h4>{{ contact.city + ", " + contact.state + " " + contact.postalCode }}</h4>
					</a>
				</div>
				
				<div class="email-details" ng-class="{show: emailInfo, hide: !emailInfo}">
					<h5>E-MAIL</h5>
					<h4><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></h4>
				</div>
			</div>
		</div>
	</div>
</div>

			
<div class="footer">
	<div class="swapSort col-xs-4" ng-click="reverseSort()">
		<h3>SORT</h3>
	</div>
	
	<div class="scroll col-xs-4">
		<a href="#" class="scrollup"><h3>&uarr;</h3></a>
	</div>
	
	<a href='#/add'><div class="add col-xs-4">
		<h3>Add Contact</h3>
	</div></a>
</div>